<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 col-lg-12 item-center">
                    <div class="widget widget-about item-center" style="flex-direction: column;">
                        <img src="assets/images/xanhla/logoxanhduong.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            Gọi chúng tôi ngay
                            <a href="tel:#">+0123 456 789</a>         
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 Xanh lá shop. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->